# Firebase設定
FIREBASE_PROJECT_ID=myyomumoji-api

# 本番環境用
GOOGLE_APPLICATION_CREDENTIALS=./config/serviceAccountKey.json

# Emulator設定（開発時）
FIRESTORE_EMULATOR_HOST=0.0.0.0:8080
USE_EMULATOR=false

# 環境
NODE_ENV=development

# Profile API
PUBLIC_BASE_URL=http://localhost:3000